<div id="slides" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="./images/slide1.jpg" class="d-block w-100" alt="Before Repair">
            <div class="carousel-caption">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Before Repairs</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Accident</a>
                <a class="dropdown-item" href="#">Hail Damages</a>
                <a class="dropdown-item" href="#">Rock and Paint Chips</a>
                <a class="dropdown-item" href="#">Performance</a>
              </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="./images/slide2.jpg" alt="Repair in Progress">
            <div class="carousel-caption">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Repair in Progress</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Pre-repair Checklist</a>
                <a class="dropdown-item" href="#">Dismanting and Body Work</a>
                <a class="dropdown-item" href="#">Preparation and Painting</a>
                <a class="dropdown-item" href="#">Reassembly and Sublets</a>
              </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="./images/slide3.jpg" alt="after repair">
            <div class="carousel-caption">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">After Repairs</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Factory and/or Industrial Standards</a>
                <a class="dropdown-item" href="#">Final Inspection</a>
                <a class="dropdown-item" href="#">Feedback and Review</a>
              </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#slides" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#slides" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">THE SOONER YOU KNOW </br> THE BETTER YOU GET</h1>
    </div>
</div>