<div class="container-fluid padding bg-dark mb-4 pb-6">
    <div class="row welcome text-center">
      <div class="col-12">
        <h2 class="display-4">Vehicle Models Interested</h2>
      </div>
      <hr>
    </div>
    <div class="card-deck text-center mb-4">
      <div class="card">
        <img class="card-img-top" src="./images/photo4_1.jpg" alt="Audi">
        <div class="card-body">
            <h5 class="card-title">Audi</h5>
            <p class="card-text text-justify">Audi AG is a German automobile manufacturer that designs, engineers, produces, markets and distributes luxury vehicles. Audi is a wholly owned subdiary of the Volkswagen Group and has its roots at Ingolstadt, Bavaria, Germany. Audi-branded vehicles are produced in nine production facilities worldwide.</p>
            <a href="https://www.audi.ca" class="btn btn-primary">Audi</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="./images/photo5_1.jpg" alt="Jaguar">
        <div class="card-body">
            <h5 class="card-title">Jaguar</h5>
            <p class="card-text text-justify">Jaguar is the luxury vehicle brand of Jaguar Land Rover, a British multinational car manufacturer with its headquarters in Whitley, Coventry, England.</p>
            <a href="https://www.jaguar.ca" class="btn btn-primary">Jaguar</a>
        </div>
      </div>
    </div>
    <div class="card-deck text-center mb-4">
      <div class="card">
        <img class="card-img-top" src="./images/photo6_1.jpg" alt="BMW">
        <div class="card-body">
            <h5 class="card-title">Land Rover</h5>
            <p class="card-text text-justify">“Land Rover is a British brand of predominantly four-wheel drive, off-road capable vehicles, that is owned by multinational car manufacturer Jaguar Land Rover, since 2008 a subsidiary of India's Tata Motors. JLR currently builds Land Rovers in Brazil, China, India, Slovakia, and the United Kingdom.</p>
            <a href="https://www.landrover.ca" class="btn btn-primary">Land Rover</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="./images/photo6_1.jpg" alt="Land Rover">
        <div class="card-body">
            <h5 class="card-title">Porsche</h5>
            <p class="card-text text-justify">Porsche s a German automobile manufacturer specializing in high-performance Sport cars, SUVs and sedans. The headquarters of Porsche AG is in Stuttgart, and the company is owned by Volkswagen AG, a controlling stake of which is owned by Porsche Automobil Holding SE.</p>
            <a href="https://www.porsche.com" class="btn btn-primary">Porsche</a>
        </div>
      </div>
    </div>
    <div class="card-deck text-center mb-4">
      <div class="card">
        <img class="card-img-top" src="./images/photo7.jpg" alt="Porsche">
        <div class="card-body">
            <h5 class="card-title">BMW</h5>
            <p class="card-text text-justify">Audi AG is a German automobile manufacturer that designs, engineers, produces, markets and distributes luxury vehicles. Audi is a wholly owned subdiary of the Volkswagen Group and has its roots at Ingolstadt, Bavaria, Germany. Audi-branded vehicles are produced in nine production facilities worldwide</p>
            <a href="https://www.bmw.ca" class="btn btn-primary">BMW</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="./images/photo8.jpg" alt="Tesla">
        <div class="card-body">
            <h5 class="card-title">Tesla</h5>
            <p class="card-text text-justify">Tesla is an American electric vehicle and clean energy company based in Palo Alto, California. Tesla's current products include electric cars, battery energy storage from home to grid scale, solar panels and solar roof tiles, and related products and services.</p>
            <a href="https://www.tesla.com" class="btn btn-primary">Tesla</a>
        </div>
      </div>
    </div>
    <hr>
</div>