extends layout

block content
    <div class="card">
        <div class="card-header">
            |Before Repair
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>Many of us come to a body repair center and said this is the first time in our life we must go to a collision shop since we have not been in any accident before!</p>
                <p>Wow, it is very impressive. It means we never consider performing our vehicle yet.</p>
                <p>I have lived mostly in Alberta and I do not know clearly about somewhere else of out town. What I have known are four reasons we must go to an automotive repair center.</p>
                <ol>
                    <li>When we are on a collision accident
                        <p>Do not panic and worry when you are in an accident. Firstly, you should keep all your insurance information in your convenient place such as in a glove box. You also should have your cell phone with enough battery take supporting photos when necessary. Secondly, once the accident happens, keep calm and call polices. In case you could not move, call someone around you for help. Next, try to record with your phone’s camera as much as you can. Please remember, if you have enough proof and evidence, you will help your insurance agent and police to clarify what is going on and what party caused the accident. The insurance will review your case to decide increasing your premium or not, they also relate to your deductible payment and your rental vehicle limit.</p>
                        <p>Now, you must decide where you want to repair your vehicle. You may receive a list of body repair shops from your claim adjusters. Oh, that should be a great reference. But hey, whom the car is repaired for? You should ask yourself this question and when you can answer that, you know that is YOU! Shopping around is a good chance to know about the body repair industry and increase your awareness about what they will do with your vehicle.</p>
                    </li>
                    <li>Paint chips and rock chips
                        <p>This repair will be paid by your pocket, but it is worth to prevent any worse damages in the future that you must pay more money to fix it.</p>
                    </li>
                    <li>Hail Damages
                        <p>You should know what is paintless dent removal (PDR) and a conventional repair, how they are deferent?</p>
                    </li>
                    <li>Performance and/or corrosion repair
                        <p>In all seasons yearly, especially in the summer time, you should inspect your vehicle’s body panels for any rust that may be recommended to take care.</p>
                    </li>
                </ol>
                <p> <b>Before repair check list</b>
                <br>
                 |When you drop off your vehicle to a body shop, make sure asking them some questions about how do they take care your vehicle?
                <ul>
                    <li>Washing your vehicle before dropping off</li>
                    <li>Taking more photos and pay attention about prior damages.</li>
                </ul>
                 |How your photos is important, visit this website for more details: 
                 <a href="https://www.autobodynews.com/index.php/chasidy-rae-sisk/item/11984-what-does-photo-estimating-mean-for-the-collision-repair-industry.html">Important of photo estimating</a>
                </p>

                <footer class="blockquote-footer"> Dec 20, 2020 </footer>
            </blockquote>
        </div>
    </div>