extends layout

block content
    <div class="card">
        <div class="card-header">
            |Question for Aluminum Exterior Panel Repair and Replacement
        </div>
        <div class="row">
            <div class="card-body col-sm-8">
                <blockquote class="blockquote mb-0">
                    <p>Aluminum is one way to that vehicle markers have met these demands. 
                    <br>
                    |Using aluminum material can have many benefits:
                    <ul> 
                        <li>Durability</li>
                        <li>Strength</li>
                        <li>Corrosion resisitance</li>
                        <li>Reduce weight</li>
                        <li>Availability</li>
                    </ul>
                    </p>
                    <p>When Aluminum is used for exterior panels, the benefit is less weight with the similar strength of steel.</p>
                    <p>Vehicles built with a variety of aluminum parts include: 
                    <br>
                    |-   New 2017 to present Audi Q7 helped cut around 800 pounds on weight. Once you are owner of a new Q7, remember that a spot on the general Audi Authorized repair network might not be enough; body repair centers might have to seek Audi aluminum repair authorization.
                    
                    </p> That Q7 featured aluminum on the hood, fenders and tailgate. On the Q7, aluminum sheet has spread to the floor and doors while aluminum sections and castings can be found in other areas including front and rear bumper reinforcements.</p>
                    <p>Though aluminum frequently replaces steel in much of the Q7, the SUV still will contain ultra-high-strength steel, mostly in the A- and B-pillars and floor rails like the rockers.</p>
                    <p>Aluminum work hardening characteristics:</p>
                    <ul>
                        <li>Occur during the forming process, collision damage, and straightening.</li>
                        <li>Will tend to keep the deformed shape. The properties of aluminum will resist efforts to return to its original shape due to having less memory than steel.</li>
                        <li>Require different straightening techniques than steel.</li>
                        <li>May crack when straightened. Proper techniques and care must be taken in order to keep the part from cracking.</li>
                    </ul>
                     <p>When you come to a shop for your vehicle exterior panels made by aluminum damaged, asking a shop for what are the repair options:</p>
                    <ul>
                        <li>PDR: paintless dent repair</li>
                        <li>Conventional</li>
                        <li>Replacement</li>
                    </ul>
                    <p>They should consider when analyzing damage:</p>
                    <ul>
                        <li>The finish</li>
                        <li>backside acess</li>
                        <li>Body line</li>
                        <li>Crack and defect inspection</li>
                    </ul>
                    <p>Some of dent removal options, when there is limited or no access to the back of the panel, may include:</p>
                    <ul>
                        <li>Use of heat to remove dents.</li>
                        <li>Dedicated aluminum weld-on dent removal equipment (weld-on studs). Use caution to avoid flammable materials behind the panel.</li>
                        <li>Use of glue-on pulling tabs.</li>
                    </ul>
                    <p>For more detail about Q7, please visit your local Audi dealerships:</p>
                    <ul>
                        <li><a href="https://www.audiroyaloak.com">Audi Royal Oak</a></li>
                        <li><a href="https://www.glenmoreaudi.com/en">Audi Glemore</a></li>
                        <li><a href="https://www.southgateaudi.com">Audi South Gate</a></li>
                    </ul>
                    <footer class="blockquote-footer"> Dec 20, 2020 </footer>
                </blockquote>
            </div>
            <div class="card-body col-sm-4">
                <img class="card-img-top" src="./images/photo16.jpg" alt="Audi Q7">
                <figcaption class="text-center">Fig.1 - Audi Q7 Aluminum parts.</figcaption>
                <img class="card-img-top" src="./images/photo17.jpg" alt="Audi Q7">
                <figcaption class="text-center">Fig.2 - Audi Q7 SUV.</figcaption>
            </div>
        </div>
    </div>