extends layout

block content
    <div class="card">
        <div class="card-header">
            |Openning Story
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>Many people believe that a car is simply a transportation vehicle for daily commuting. They wonder why some people have spent too much money and effort on their cars, THEIR BABIES, they said.</p>
                <p>My statement is remarkably simple. You should spend time to take care and maintain your vehicle for yourself and your family safety since it will provide increased levels of comfort, safety features, quality and performance for last long.</p>
                <footer class="blockquote-footer"> Dec 15, 2020 </footer>
            </blockquote>
        </div>
    </div>
        