extends layout

block content
    <div class="card">
        <div class="card-header">
            |Repair in Progress
        </div>
        <div class="row">
            <div class="card-body col-sm-6">
                <blockquote class="blockquote mb-0">
                    <p>Understanding aluminum panel straightening:</p>
                    <ol>
                        <li>The <b>hammer-off-dolly technique</b> is the preferred method of repairing damage to aluminum.</li>
                        <li>The hammer-off-dolly technique is the preferred method of repairing damage to aluminum.</li>
                    </ol>
                    <p>Access i-car free training resources: <a href=" https://rts.i-car.com/images/pdf/upcr/st21s.pdf">Important of photo estimating</a>
                    </p>
                    <h3> Tools </h3>
                    <p>
                    |<b>Weld-on dent removal tools</b> designed specification for the removal of dents in aluminum panels. This equipment welds a stud onto the panel that can be used to pull damage out of a panel. 
                    <br>
                    |Before using this equipment on a vehicle, the battery should be disconnected and the cables isolated to protect the electronic systems on the vehicle.
                    <br>
                    |Please visit this website for more details <a href=" https://shop.snapon.com/product/Portable-Dent-Pulling-System/Aluminum-Panel-Dent-Puller-and-Tool-Kit/ADPKIT">Aluminium Panel Dent Puller and Tool Kit</a>
                    </p>
                    <b>Camelone Cellete Jigs</b>
                    <p>When your car is repaired on a Bench, the chassis is repaired using the same equipment processes as when it was original manufactured. And as for Celette, they have been the European standard for collision repair for decades. </p>
                    <p>With jigs, the chassis is full and correctly supported during the repair, so it can be accurately measured and returned to OEM specifications.
                    <br>
                    |For more details, please visit the website: <a href=" https://www.celette.com/our-products/positioning-anchoring-fixtures/adaptable-fixtures/cameleon/">Cameleon</a>
                    </p>


                    <footer class="blockquote-footer"> Dec 20, 2020 </footer>
                </blockquote>
            </div>
            <div class="card-body col-sm-6">
                <img class="card-img-top" src="./images/photo9.jpg" alt="tool kit" style="width:50%">
                <figcaption class="text-center">Aluminium Panel Dent Puller and Tool Kit</figcaption>
                <img class="card-img-top" src="./images/photo10.jpg" alt="cameleom">
                <figcaption class="text-center">Cameleon</figcaption>
            </div>
        </div>
    </div>
            
