@import "custom";
@import "../../node_modules/bootstrap/scss/bootstrap";

body
  margin-bottom: 60px;

.footer
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;

html, body 
    width: 100%;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

.navbar
    font-size: 100%

.navbar li a 
    color: white !important

.navbar li a:hover 
    color: black !important
    
.carousel-inner img 
    width: 100%;

.carousel-caption 
    position: absolute;
    top: 70%;
    @media screen and (max-width: 600px)
        top: 75% !important;

.carousel-caption > a 
    font-size: 200%;
    text-transform: uppercase;
    text-shadow: 5px 5px 15px #000;
    @media screen and (max-width: 600px) 
        font-size: 100% !important;
        color: black !important;
        background-color: white !important;

.jumbotron 
    padding: 1rem;

.jumbotron h1 
    text-align: justify;
    font-size: 40px !important;
    color: blue;
    text-align: center; 
    @media screen and (max-width: 600px) 
        font-size: 25px !important;

.welcome hr 
    border-top: 2px solid white;
    width: 95%;
    margin-bottom: 2rem;

.col-12 h2 
    font-size: 30px !important;
    color: white !important;
    margin-top: 5px;
    padding-top: 10px;
    @media screen and (max-width: 600px) 
        font-size: 20px !important;

.container-fluid 
    

.card-deck 
    margin-top: 4px;
    margin-bottom: 8px;

.row img 
    width: 100%;
/* css for auth */

.signin
  margin-top: 7%;
  padding-right: 10px;
  display: grid;
  justify-content: center;

h1 
  font-size: 50px;
  color: red;
  text-transform: uppercase;

.center h3
  margin: 3% 0;
  color: red;
  font-size: 30px;

div.label
  margin-bottom: 1%;
  font-size: 20px;

div input
  padding: 10px;
  outline: none;
  border-radius: 3px;
  border: 1px solid #a5a5a5;
  width: 100%;

div.field
  margin-bottom: 10px;

.center .btn
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px;
  color: #fff;
  background: #4169E1;
  border: none;
  border-radius: 4px;
  margin: 10px 0;

.signin p
  text-align: center;
  margin: 2% 0;

div.btn_
  display: flex;
  justify-content: center;

div.btn_ a
  border: 1px solid #a5a5a5;
  border-radius: 4px;
  padding: 8px;
  text-decoration: none;

div.btn_ a:hover
  color: #fff;
  background: rgb(90, 6, 90);

div.btn_ a:last-child
  margin-left: 3%;

span.err
  display: block;
  background: #cd2323;
  border: 1px solid #cd2323;
  color: #fff;
  border-radius: 4px;
  padding: 7px;
  margin: 2% 0;





/* css for footer */

.foote_bottom_ul_amrc 
	padding: 0px;
	display: table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;

.foote_bottom_ul_amrc li 
    display: inline;
    padding-top: 15px;

.foote_bottom_ul_amrc li a 
    color: #999; 
    margin: 0 12px;

.social_footer_ul 
    display: table; 
    margin: 15px auto 0 auto; 
    list-style-type: none;  
.social_footer_ul li 
    padding-left: 20px; 
    padding-top: 10px; 
    float: left; 
.social_footer_ul li a 
    color: #CCC; 
    border: 1px solid #CCC; 
    padding: 8px;
    border-radius: 50%;
.social_footer_ul li i 
    width: 20px; 
    height: 20px; 
    text-align: center;

